* {
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  outline: none;
  color: black;
}

.wrapper {
  max-width: 1200px;
  margin: 100px auto;
  width: 100%;
}

.join-block {
  margin: 0 auto;
  width: 300px;
}

.join-block input {
  font-size: 24px;
  width: 100%;
  height: 50px;
  margin: 10px auto;
  padding: 10px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
